---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gravitas+One&family=Poppins:wght@300&display=swap');

@counter-style emoji {
    system: cyclic;
    symbols: "\1F4BB"; //"\1F5A5" "\2328" "\1F5B1"; // unicode code point
    suffix: "  ";
}

$dark: #121212;
$light: #F5F5F5;
$pop: #F05454;
$activeLink: #30475E;
$headerFont: 'Poppins';
$bodyFont: 'Didact Gothic';

li {
    list-style-type: emoji;
    margin-left: 1rem;
}

body {
    background-color:$dark;
    color: $light;
    font-family: $bodyFont;
    font-size: 1.1rem;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.site-header img {
    max-width: 100%;
    padding: 0.5rem;

    &:hover {
        transform: scale(1.02);
    }
}

.site-title {
    margin: 1rem;
    font-family: $headerFont;
    color: $pop;
    font-weight: bold;
    font-size: 3rem;
    text-align: right;

    &:hover {
        text-decoration: none;
        color: $pop;
        transform: scale(1.02);
    }

    &:visited {
        color: $pop;
    }
}

.site-title small {
    color: $light;
    font-size: 2rem;
}

.site-nav {
    margin-right: 1rem;
}

.page-link {
    color: $light !important;
    padding: 1rem;

    &:hover {
        color:$pop;
        text-decoration: none;
        background-color: #f6f6e91f;
    }

    &.active {
        background-color: #f6f6e952;
    }
}

.page-content {
    display: flex;
    flex-direction: row;
}

.inbox {
    border-right: 1px solid $light;
    display: flex;
    flex-direction: column;
    margin: 0;

    h1 {
        padding-left: 1rem;
    }
}

.email {
    width: 80%;
    margin-left: 0;
}

.reply-link {
    width: 2rem;
    float: right;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);

    &:hover {
        transform: scale(1.3);
    }
}

a {
    color: $pop;

    &:visited {
        color: $pop;
    }

    &:hover {
        color: $pop;
    }
}

.site-footer {
    border: none;

    .footer-heading {
        font-family: $headerFont;
        font-weight: bold;
    }

    .wrapper *:not(img) {
        margin: auto;
    }
}

.page-description {
    filter: brightness(75%);
}

.mobile-logo {
    transform: rotate(90deg);
}

.visible-mobile {
    display: none;
}

@media (max-width: 600px) {
    .visible-mobile {
      display: unset;
    }

    .hidden-mobile {
        display: none;
    }
}